In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [1]:
import pandas as pd
import math
import seaborn as sns
from matplotlib import pyplot as plt
import re
import numpy as np
import geopandas as gpd
from shapely.geometry import Point # Point class
from shapely.geometry import shape
import io
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
from geopy.geocoders import Nominatim
from time import sleep
from datetime import datetime

C:\Users\Md Mintu Miah\anaconda3\envs\geo_env\lib\site-packages\geopandas\_compat.py:112: UserWarning: The Shapely GEOS version (3.11.0-CAPI-1.17.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [17]:
Bike_counter=pd.read_excel('C:/UC Berkeley Project Backup/AT Census/Lindsey _QA/QC Article Analysis/Variables/Facilities_data/Bike_strava_matching.xls')
Bike_counter.head()

,OBJECTID,Name,ID,latitude,longitude,name,highway,Bicycle_Fa,OBJECTID.1,Join_Count,TARGET_FID,edgeUID,osmId,layer,path
0,1,1,671,37.791160,-122.459440,Bay Area Ridge Trail,Path,Path,1,1,1,308723101.0,215845474.0,075a1d3c2bcaa8641098036f74342333afbdaa711e1ae3...,D:/Data/SMART3/mine/Strava/2018/075a1d3c2bcaa8...
1,2,2,1127,37.796165,-122.419490,Broadway,primary,bike route,2,1,2,308779961.0,87297166.0,075a1d3c2bcaa8641098036f74342333afbdaa711e1ae3...,D:/Data/SMART3/mine/Strava/2018/075a1d3c2bcaa8...
2,3,3,2415,37.774200,-122.436295,Fell Street,primary,bike lane,3,1,3,308725144.0,907910631.0,075a1d3c2bcaa8641098036f74342333afbdaa711e1ae3...,D:/Data/SMART3/mine/Strava/2018/075a1d3c2bcaa8...
3,4,4,2691,35.287736,-120.657826,Halsey Circle,residential,Path,4,1,4,308304545.0,372283372.0,c866c5664e8223e5c800237e3565776dade2e0961603ae...,D:/Data/SMART3/mine/Strava/2018/c866c5664e8223...
4,5,5,2692,35.287736,-120.657826,Halsey Circle,residential,Path,5,1,5,308304545.0,372283372.0,c866c5664e8223e5c800237e3565776dade2e0961603ae...,D:/Data/SMART3/mine/Strava/2018/c866c5664e8223...

In [5]:
# read 2018 Data
# Read distrcit 1-12 Strava data
d1d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D1/bbf0dc727073607aa6619872a768f6b85167c101865e57ca8d03bedd6426c464-1668405296596.csv')
d2d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_d2/8678d4f210a4d4f0d8754ecc5ee0fb795734b82988dfcd27fc3c46ddf7ee8f2e-1668122685688.csv')
d3d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_d3/23b6bfde971cd0229e5070e3faea470202ba644f5a1c32cb309f7a5a248b09c4-1668122727426.csv')
d4d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D4/2b811f2139ebc5496413ff9e04054ead998f108ac69cd9373ad1bd6c14a4d9c3-1668174840639.csv')
d5d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D5/07c87801db1ab623da26b3a22d420dc4f367fb0d1cab850ff49791eee0305139-1668174873077.csv')
d6d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D6/c0ab3f90ebfa11565b1d5cecb8aad1d9a14a2d52c3bb6e13e096f3c012383aa9-1668174919907.csv')
d7d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D7/39051a67efda00f695bff03696ffb25a1d167fba61f1ec2e5d1499d3cf9c3d63-1668220349932.csv')
d8d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D8/feeccaa25657b7eeb154f2745640a616f350b8bbe1f366259824bc364d24825c-1668220381339.csv')
d9d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D9/5306479ac56512004ed0bd538fc67fbfc9a78d954d54cdbda99e91e63d793783-1668220408095.csv')
d10d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D10/e4244bfb3a7f1b77b98c738546fdd776071a2e9810c8ff2db27392a4ab9a012a-1668263407801.csv')
d11d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D11/b8f5494f053e1ec2471c2a51c473a35eb0a696814bd94f20c02a3aef77b82657-1668263433097.csv')
d12d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/all_edges_monthly_2018-01-01-2018-12-31_ride_D12/5deed50debb06d988945a1f758748c1392848ba2c3c494ea8b59643f899f7368-1668263460163.csv')
CA_Strava_data18=pd.concat([d2d,d3d,d4d,d5d,d6d,d7d,d8d,d9d,d10d,d11d,d12d],axis=0)
CA_Strava_data18.head()

,edge_uid,activity_type,month,total_trip_count,forward_trip_count,reverse_trip_count,forward_people_count,reverse_people_count,forward_commute_trip_count,reverse_commute_trip_count,...,reverse_35_54_people_count,forward_55_64_people_count,reverse_55_64_people_count,forward_65_plus_people_count,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id,ride_count,ebike_ride_count
0,313481877,"Ride,EBikeRide",2018-08,10,10,0,5,0,0,0,...,0,0,0,0,0,5.57,0.00,10586892,10,0
1,313481877,"Ride,EBikeRide",2018-12,25,10,15,5,10,0,0,...,5,0,0,0,0,5.95,3.58,10586892,25,0
2,313481877,"Ride,EBikeRide",2018-01,15,10,5,5,5,0,0,...,5,0,0,0,0,7.85,3.40,10586892,15,0
3,313481877,"Ride,EBikeRide",2018-11,5,5,5,5,5,0,0,...,0,0,0,0,0,5.72,2.83,10586892,5,0
4,313481877,"Ride,EBikeRide",2018-04,20,10,10,5,5,0,0,...,0,0,0,0,0,5.57,3.25,10586892,20,0

In [47]:
eco_stv18=pd.merge(Bike_counter,CA_Strava_data18,left_on=['edgeUID','osmId'],right_on=['edge_uid','osm_reference_id'],how='inner')
eco_stv18['stv_total']=eco_stv18['forward_trip_count']+eco_stv18['reverse_trip_count']
eco_stv18['stv_com_total']=eco_stv18['forward_commute_trip_count']+eco_stv18['reverse_commute_trip_count']
eco_stv18['stv_rec_total']=eco_stv18['forward_leisure_trip_count']+eco_stv18['reverse_leisure_trip_count']
eco_stv18['stv_com_ratio']=eco_stv18['stv_com_total']/eco_stv18['stv_total']
eco_stv18['stv_rec_ratio']=eco_stv18['stv_rec_total']/eco_stv18['stv_total']
stv18v=eco_stv18[['ID', 'latitude', 'longitude', 'edgeUID', 'osmId', 'edge_uid', 'osmId',  'month','stv_total', 'stv_com_total','stv_rec_total', 'stv_com_ratio', 'stv_rec_ratio']]
stv18v = stv18v[stv18v['ID'].notna()]
stv18v.head()

,ID,latitude,longitude,edgeUID,osmId,edge_uid,osmId,month,stv_total,stv_com_total,stv_rec_total,stv_com_ratio,stv_rec_ratio
0,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2018-08,420,20,400,0.047619,0.952381
1,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2018-12,385,10,375,0.025974,0.974026
2,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2018-01,395,25,370,0.063291,0.936709
3,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2018-11,270,15,255,0.055556,0.944444
4,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2018-04,430,30,400,0.069767,0.930233

In [37]:

# Import 2019 data
# Read distrcit 1-12 Strava data
d1d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/all_edges_monthly_2019-01-01-2019-12-31_ride_D1/372de13bf3ffe00689c3e5bf31a52d6dc57bb82168ea56b3245f9cf08214d4a0-1667332418240.csv')
d2d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/all_edges_monthly_2019-01-01-2019-12-31_ride_D2/1f78ffc7ae56e636bc2bd288029c88ca758404ff90f3050e626002ab93bc2770-1667332394945.csv')
d3d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/all_edges_monthly_2019-01-01-2019-12-31_ride_D3/208a9ef279157b0713109b8a6b8bbd3546c00ca8552d84ab462e8a653fd1dee5-1667332366805.csv')
d4d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/all_edges_monthly_2019-01-01-2019-12-31_ride_D4/6a0543c52388821da45aa21a7bfa25531f3ce8080a213833727f290cb4b8561a-1667082955558.csv')
d5d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/all_edges_monthly_2019-01-01-2019-12-31_ride_D5/54c71078a35a74dd4e22272ee7fc2afefa4d4038e15c63adde8147902bacba59-1667082923353.csv')
d6d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/all_edges_monthly_2019-01-01-2019-12-31_ride_D6/8a1d3238730b68108ee96b33c48865c5cc2414c693c5ec2dbc39b3cc7fe237d4-1667082886287.csv')
d7d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/all_edges_monthly_2019-01-01-2019-12-31_ride_D7/d8e4d6409187329a928e456cb2020f2b977bb5a9daa9c5c4919a46ca402685fd-1666888616439.csv')
d8d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/all_edges_monthly_2019-01-01-2019-12-31_ride_D8/f7eda2c638d68bf684c18bf32797fff23e655901f259f205202104280154c784-1666888576545.csv')
d9d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/all_edges_monthly_2019-01-01-2019-12-31_ride_D9/d4585ed4f7d025f3cb1185be176fd941c066fabcb97633d4a6a11ab8cda5c324-1666888538570.csv')
d10d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/all_edges_monthly_2019-01-01-2019-12-31_ride_D10/b14df489994415af8408f759daf6f667c1369f5f7eea9d927868030efa279d77-1666825240118.csv')
d11d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/all_edges_monthly_2019-01-01-2019-12-31_ride_D11/63cda1059fe3119327b0072c99c548dae9a4fe2890acd61b6c2b553f3fa05a1a-1666825172990.csv')
d12d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2019 Monthly/all_edges_monthly_jan_2019-dec_2019_ride_D12/78394b8d319963b47938e34fe1989fb2b088a673d7413d3e49b4ecbc46c20258-1666825138870.csv')
CA_Strava_data19=pd.concat([d1d,d2d,d3d,d4d,d5d,d6d,d7d,d8d,d9d,d10d,d11d,d12d],axis=0)
CA_Strava_data19.head()

,edge_uid,activity_type,month,total_trip_count,forward_trip_count,reverse_trip_count,forward_people_count,reverse_people_count,forward_commute_trip_count,reverse_commute_trip_count,...,reverse_35_54_people_count,forward_55_64_people_count,reverse_55_64_people_count,forward_65_plus_people_count,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id,ride_count,ebike_ride_count
0,307077425,"Ride,EBikeRide",2019-08,5,0,5,0,5,0,0,...,5,0,0,0,0,0.00,3.40,10311239,5,0
1,307077425,"Ride,EBikeRide",2019-10,20,0,10,0,5,0,0,...,0,0,0,0,0,0.00,3.85,10311239,20,0
2,307077425,"Ride,EBikeRide",2019-07,10,5,5,5,5,0,0,...,5,0,0,0,0,3.49,4.91,10311239,10,0
3,307077425,"Ride,EBikeRide",2019-06,10,0,10,0,10,0,0,...,5,0,5,0,0,0.00,5.77,10311239,10,0
4,307079163,"Ride,EBikeRide",2019-03,5,5,0,5,0,0,0,...,0,0,0,0,0,3.80,0.00,10307693,5,0

In [48]:
eco_stv19=pd.merge(Bike_counter,CA_Strava_data19,left_on=['edgeUID','osmId'],right_on=['edge_uid','osm_reference_id'],how='inner')
eco_stv19['stv_total']=eco_stv18['forward_trip_count']+eco_stv18['reverse_trip_count']
eco_stv19['stv_com_total']=eco_stv18['forward_commute_trip_count']+eco_stv18['reverse_commute_trip_count']
eco_stv19['stv_rec_total']=eco_stv18['forward_leisure_trip_count']+eco_stv18['reverse_leisure_trip_count']
eco_stv19['stv_com_ratio']=eco_stv18['stv_com_total']/eco_stv18['stv_total']
eco_stv19['stv_rec_ratio']=eco_stv18['stv_rec_total']/eco_stv18['stv_total']
stv19v=eco_stv19[['ID', 'latitude', 'longitude', 'edgeUID', 'osmId', 'edge_uid', 'osmId',  'month','stv_total', 'stv_com_total','stv_rec_total', 'stv_com_ratio', 'stv_rec_ratio']]
stv19v = stv19v[stv19v['ID'].notna()]
stv19v.head()

,ID,latitude,longitude,edgeUID,osmId,edge_uid,osmId,month,stv_total,stv_com_total,stv_rec_total,stv_com_ratio,stv_rec_ratio
0,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2019-08,420,20,400,0.047619,0.952381
1,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2019-04,385,10,375,0.025974,0.974026
2,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2019-10,395,25,370,0.063291,0.936709
3,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2019-03,270,15,255,0.055556,0.944444
4,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2019-07,430,30,400,0.069767,0.930233

In [40]:
# read 2020 Data
# Read distrcit 1-12 Strava data
d1d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D1/a9c30ae0023c0f9eb29708df1a582b91eca0d416df32cd382cf4d14bcdeca488-1667422342632.csv')
d2d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D2/c411e601a37e4dc367269a9dc13b20dfae6d15053ba794b5f93fc2af527d2f4f-1667422366206.csv')
d3d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D3/64e293d205da8892b392e4977c8d90624bd6074490b70f76a604521e93f27d2b-1667422391700.csv')
d4d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D4/d06677d3cff3d7e3c79b7cfadc78acd7b5cddd07bf8ea381dbd8588089e38c09-1667495983102.csv')
d5d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D5/9b085fb1ee53e9f04913436686f197267796acd33e1456772045999f28b9c528-1667496005469.csv')
d6d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D6/1a8900583a97e145fadfd8ad53f2e97de9b5b187ca77c4598049a0fb01e0cf98-1667496029915.csv')
d7d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D7/d4c69ae94ab87eb471db1b2fbcaa6a83d99d337792756184cbef9cfa8775327b-1667616590974.csv')
d8d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D8/af16dd1a6e52b3f0ad8b8a86b6a04e6d36f7f89a7d5d282b09ce0e4a22704e16-1668407725240.csv')
d9d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D9/86845546a1e446fb3e69f625e8c00e66a144185491c485a3cc639436d25a7eee-1668407750665.csv')
d10d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D10/257ea8e6ebe01ede029b18e0e399330f491ff37383b48318acc40bb5b7ceb1b2-1667670751533.csv')
d11d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D11/e046cd2ce77edcaa6acd930bb6b092dd926ee88d4d60576c3cdf6d55c1199869-1667670780922.csv')
d12d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2020 Monthly/all_edges_monthly_2020-01-01-2020-12-31_ride_D12/96493164682566650fde23ecaba66157f823a7a018b774ee3894ac9074799ea7-1667670809297.csv')
CA_Strava_data20=pd.concat([d1d, d2d,d3d,d4d,d5d,d6d,d7d,d8d,d9d,d10d,d11d,d12d],axis=0)
CA_Strava_data20.head()

,edge_uid,activity_type,month,total_trip_count,forward_trip_count,reverse_trip_count,forward_people_count,reverse_people_count,forward_commute_trip_count,reverse_commute_trip_count,...,reverse_35_54_people_count,forward_55_64_people_count,reverse_55_64_people_count,forward_65_plus_people_count,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id,ride_count,ebike_ride_count
0,307076983,"Ride,EBikeRide",2020-05,5,5,0,5,0,0,0,...,0,0,0,0,0,0.21,0.00,10307497,5,0
1,307076983,"Ride,EBikeRide",2020-04,5,5,0,5,0,0,0,...,0,0,0,0,0,3.57,0.00,10307497,5,0
2,307076983,"Ride,EBikeRide",2020-10,5,5,0,5,0,0,0,...,0,0,0,0,0,1.17,0.00,10307497,5,0
3,307076983,"Ride,EBikeRide",2020-08,5,0,5,0,5,0,0,...,0,0,0,0,0,0.00,8.31,10307497,5,0
4,307076983,"Ride,EBikeRide",2020-06,5,5,0,5,0,0,0,...,0,0,0,0,0,4.13,0.00,10307497,5,0

In [49]:
eco_stv20=pd.merge(Bike_counter,CA_Strava_data20,left_on=['edgeUID','osmId'],right_on=['edge_uid','osm_reference_id'],how='inner')
eco_stv20['stv_total']=eco_stv20['forward_trip_count']+eco_stv20['reverse_trip_count']
eco_stv20['stv_com_total']=eco_stv20['forward_commute_trip_count']+eco_stv20['reverse_commute_trip_count']
eco_stv20['stv_rec_total']=eco_stv20['forward_leisure_trip_count']+eco_stv20['reverse_leisure_trip_count']
eco_stv20['stv_com_ratio']=eco_stv20['stv_com_total']/eco_stv20['stv_total']
eco_stv20['stv_rec_ratio']=eco_stv20['stv_rec_total']/eco_stv20['stv_total']
stv20v=eco_stv20[['ID', 'latitude', 'longitude', 'edgeUID', 'osmId', 'edge_uid', 'osmId',  'month','stv_total', 'stv_com_total','stv_rec_total', 'stv_com_ratio', 'stv_rec_ratio']]
stv20v = stv20v[stv20v['ID'].notna()]
stv20v.head()

,ID,latitude,longitude,edgeUID,osmId,edge_uid,osmId,month,stv_total,stv_com_total,stv_rec_total,stv_com_ratio,stv_rec_ratio
0,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2020-05,1070,25,1045,0.023364,0.976636
1,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2020-02,515,25,490,0.048544,0.951456
2,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2020-04,890,15,875,0.016854,0.983146
3,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2020-10,30,0,30,0.000000,1.000000
4,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2020-12,35,0,35,0.000000,1.000000

In [42]:
# read 2021 Data
# Read distrcit 1-12 Strava data
d1d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D1/e9592a7cd0d3959886329822c1cb8f32f3bd64a2614c5cf27168cdc9964b166b-1667790658595.csv')
d2d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D2/176aa3e12ec572049bcf91208b9da04274b188930f0f14be08b852867468859b-1667790710995.csv')
d3d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D3/bd229c3c9b6bd9207c58fc8c29fd4d1d310a398f3244de06de0193e86c6db22e-1667790745298.csv')
d4d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D4/e9d5a2bcfa9dbbe36718f0d7159727c0ec61b7072b9d327639d00141b2766090-1667807130507.csv')
d5d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D5/8d85c8c5c9f0c06826bc7d8978d1a91931b0e0bdc0f77a33f9fb835309f0b226-1667841216766.csv')
d6d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D6/eebe89b3eeffe28f92e68f7dbf3bdcf05bc3dae974a3b9276a7e7b0df9eae882-1667841269080.csv')
d7d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D7/cd65a5b0453949864b37e082d92605e2eb6b6f84684d183431fd68bb2cf476dc-1667841291957.csv')
d8d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D8/4d63f8e250a574f69abd3983167c7389aac406f09cb4215eb5524fa610fac7ff-1667968364875.csv')
d9d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D9/5aafe9c4165073dd735166fe42906acad2b938b6de069e9520febed0e739fcc2-1667968386918.csv')
d10d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D10/efa0fe8300490ac376b0892c105245cc7b1207af794a8279dc6d40cc6b7bba5b-1667968419027.csv')
d11d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D11/6d938fd4c1c0a65a5fa67c400528513960c16ba433179ef146296107702df3a8-1668030163539.csv')
d12d=pd.read_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/all_edges_monthly_2021-01-01-2021-12-31_ride_D12/b612919494462c73410d8a38692fa46c4d3c3d3a5f9225d6615189c8cf14d28d-1668030207898.csv')
CA_Strava_data21=pd.concat([d1d, d2d,d3d,d4d,d5d,d6d,d7d,d8d,d9d,d10d,d11d,d12d],axis=0)
CA_Strava_data21.head()

,edge_uid,activity_type,month,total_trip_count,forward_trip_count,reverse_trip_count,forward_people_count,reverse_people_count,forward_commute_trip_count,reverse_commute_trip_count,...,reverse_35_54_people_count,forward_55_64_people_count,reverse_55_64_people_count,forward_65_plus_people_count,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id,ride_count,ebike_ride_count
0,307090118,"Ride,EBikeRide",2021-09,70,35,35,25,30,0,0,...,10,5,5,5,5,5.59,6.71,10272439,65,5
1,307090118,"Ride,EBikeRide",2021-06,50,15,35,10,25,0,0,...,10,0,5,0,5,6.34,6.96,10272439,50,0
2,307090118,"Ride,EBikeRide",2021-12,10,5,0,5,0,0,0,...,0,0,0,0,0,7.73,0.00,10272439,5,5
3,307090118,"Ride,EBikeRide",2021-11,30,15,15,5,10,0,0,...,0,0,0,5,0,5.91,5.48,10272439,25,5
4,307090118,"Ride,EBikeRide",2021-02,25,10,15,5,10,0,0,...,5,0,0,0,0,5.07,5.77,10272439,25,0

In [50]:
eco_stv21=pd.merge(Bike_counter,CA_Strava_data21,left_on=['edgeUID','osmId'],right_on=['edge_uid','osm_reference_id'],how='inner')
eco_stv21['stv_total']=eco_stv21['forward_trip_count']+eco_stv21['reverse_trip_count']
eco_stv21['stv_com_total']=eco_stv21['forward_commute_trip_count']+eco_stv21['reverse_commute_trip_count']
eco_stv21['stv_rec_total']=eco_stv21['forward_leisure_trip_count']+eco_stv21['reverse_leisure_trip_count']
eco_stv21['stv_com_ratio']=eco_stv21['stv_com_total']/eco_stv21['stv_total']
eco_stv21['stv_rec_ratio']=eco_stv21['stv_rec_total']/eco_stv21['stv_total']
stv21v=eco_stv21[['ID', 'latitude', 'longitude', 'edgeUID', 'osmId', 'edge_uid', 'osmId',  'month','stv_total', 'stv_com_total','stv_rec_total', 'stv_com_ratio', 'stv_rec_ratio']]
stv21v = stv20v[stv21v['ID'].notna()]
stv21v.head()

C:\Users\Md Mintu Miah\AppData\Local\Temp\ipykernel_27412\1681018304.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  stv21v = stv20v[stv21v['ID'].notna()]

,ID,latitude,longitude,edgeUID,osmId,edge_uid,osmId,month,stv_total,stv_com_total,stv_rec_total,stv_com_ratio,stv_rec_ratio
0,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2020-05,1070,25,1045,0.023364,0.976636
1,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2020-02,515,25,490,0.048544,0.951456
2,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2020-04,890,15,875,0.016854,0.983146
3,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2020-10,30,0,30,0.000000,1.000000
4,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2020-12,35,0,35,0.000000,1.000000

In [51]:
# combine Strava data
Stv=pd.concat([stv18v,stv19v,stv20v,stv21v],axis=0)
Stv.head()

,ID,latitude,longitude,edgeUID,osmId,edge_uid,osmId,month,stv_total,stv_com_total,stv_rec_total,stv_com_ratio,stv_rec_ratio
0,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2018-08,420,20,400,0.047619,0.952381
1,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2018-12,385,10,375,0.025974,0.974026
2,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2018-01,395,25,370,0.063291,0.936709
3,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2018-11,270,15,255,0.055556,0.944444
4,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,2018-04,430,30,400,0.069767,0.930233

In [52]:
Stv[[ "year","month"]] = Stv["month"].str.split("-", expand = True)
Stv.head()

,ID,latitude,longitude,edgeUID,osmId,edge_uid,osmId,month,stv_total,stv_com_total,stv_rec_total,stv_com_ratio,stv_rec_ratio,year
0,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,08,420,20,400,0.047619,0.952381,2018
1,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,12,385,10,375,0.025974,0.974026,2018
2,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,01,395,25,370,0.063291,0.936709,2018
3,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,11,270,15,255,0.055556,0.944444,2018
4,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,04,430,30,400,0.069767,0.930233,2018

In [53]:
Stv["year"]=Stv["year"].astype(np.int64)
Stv["month"]=Stv["month"].astype(np.int64)
Stv.head()

,ID,latitude,longitude,edgeUID,osmId,edge_uid,osmId,month,stv_total,stv_com_total,stv_rec_total,stv_com_ratio,stv_rec_ratio,year
0,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,8,420,20,400,0.047619,0.952381,2018
1,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,12,385,10,375,0.025974,0.974026,2018
2,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,1,395,25,370,0.063291,0.936709,2018
3,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,11,270,15,255,0.055556,0.944444,2018
4,671,37.79116,-122.45944,308723101.0,215845474.0,308723101,215845474.0,4,430,30,400,0.069767,0.930233,2018

In [54]:
Stv.to_csv('C:/UC Berkeley Project Backup/AT Census/Lindsey _QA/QC Article Analysis/Variables/Eco_Strava_bike_data_18_21_May_8.csv')

In [ ]:
# End of the data Processing